@{
    ViewBag.Title = "Contacts";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-default" href="/Contacts/Create" role="button">
    <span class="glyphicon glyphicon-plus"></span> Add
</a>

<table id="tableContacts" class="table table-striped" width="100%">
    <thead></thead>
    <tfoot class="filter">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>

@section Scripts {
    <script>
        $(document).on('ready', function () {
            getContacts();
        })

        function getContacts() {
            $.get('/api/Rest/GetContacts', null, function (data) {
                var table = $('#tableContacts').DataTable({
                    "dom": "<'row'<'col-md-12'f>><'row'<'col-md-6'i><'col-md-6'p>><'row'<'col-md-12'tr>><'row'<'col-md-6'l><'col-md-6'p>>",
                    "destroy": true,
                    "data": data,
                    "order": [[0, 'asc']],
                    "rowId": "Id",
                    "columns": [
                    {
                        "title": "Name",
                        "render": function (data, type, row) {
                            return '<a href="/Contacts/Edit/' + row.Id + '">' + row.Name + '</a>';
                        }
                    },
                    {
                        "title": "Title",
                        "data": "Title",
                    },
                    {
                        "title": "Account",
                        "render": function (data, type, row) {
                            return (!row.Account) ? "" : '<a href="/Accounts/Edit/' + row.Account.Id + '">' + row.Account.Name + '</a>';
                        }
                    },
                    {
                        "title": "Email",
                        "data": "Email",
                    },
                    {
                        "defaultContent": '<a class="del" href="#"><span class="glyphicon glyphicon-remove"></span></a>',
                        "orderable": false,
                    }],
                });

                $('#tableContacts tfoot th').each(function () {
                    var title = $('#tableContacts thead th').eq($(this).index()).text();
                    if (title.length > 0) {
                        $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '">');
                    }
                });

                table.columns().eq(0).each(function (colIdx) {
                    $('input', table.column(colIdx).footer()).on('keyup change', function () {
                        table.column(colIdx).search(this.value).draw();
                    });
                });
            });
        }

        $('#tableContacts').on('click', 'a.del', function () {
            if (confirm('Are you sure?') === true) {
                var table = $('#tableContacts').DataTable();

                $.post('/api/Rest/DeleteContact/' + table.row($(this).parents('tr')).data().Id, null, function () {
                    $.notify({ message: 'Data Deleted.' }, { type: 'success', placement: { from: 'top', align: 'center' } });
                    getContacts();
                });
            }
        })
    </script>
}